<!-- ------ max width 1440 ----------- -->
<div *ngIf="isLargeScreen" class="tech-outer">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">


    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">
  </div>
</div>
<!-- ------ max width 1440 ----------- -->

<!-- ------ max width 1024 ----------- -->
<div *ngIf="isMediumScreen" class="tech-outer-md">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">
  </div>
</div>
<!-- ------ max width 1024 ----------- -->

<!-- ------ max width 1920 ----------- -->
<div *ngIf="isExtraLargeScreen" class="tech-outer-lg">
  <div class="tech-inner">
    <!-- Original set of images -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">

    <!-- Duplicate the images for smooth seamless scrolling -->
    <img src="../../../../../../../../assets/tech/Angular.png" alt="angular">
    <img src="../../../../../../../../assets/tech/java-2.png" alt="java">
    <img src="../../../../../../../../assets/tech/spring-boot.png" alt="spring-boot">
    <img src="../../../../../../../../assets/tech/bootstrap.png" alt="bootstrap">
    <img src="../../../../../../../../assets/tech/Rust.png" alt="rust">
    <img src="../../../../../../../../assets/tech/actix-web.png" alt="actix-web">
    <img src="../../../../../../../../assets/tech/sass.png" alt="sass">
    <img src="../../../../../../../../assets/tech/mysql.png" alt="mysql">
    <img src="../../../../../../../../assets/tech/node-js.png" alt="node-js">
    <img src="../../../../../../../../assets/tech/tailwind.png" alt="tailwind">
    <img src="../../../../../../../../assets/tech/mongodb.png" alt="mongodb">
    <img src="../../../../../../../../assets/tech/hibernate.png" alt="hibernate">
    <img src="../../../../../../../../assets/tech/react-native.png" alt="react-native">
    <img src="../../../../../../../../assets/tech/graphql.png" alt="graphql">
    <img src="../../../../../../../../assets/tech/postgresql.png" alt="postgresql">
    <img src="../../../../../../../../assets/tech/ts.png" alt="ts">
    <img src="../../../../../../../../assets/tech/maven.png" alt="maven">
    <img src="../../../../../../../../assets/tech/html.png" alt="Html">
    <img src="../../../../../../../../assets/tech/css.png" alt="Css">
    <img src="../../../../../../../../assets/tech/seaorm.png" alt="SeaORM">
    <img src="../../../../../../../../assets/tech/figma.png" alt="Figma">
  </div>
</div>
<!-- ------ max width 1920 ----------- -->
