<!-- --------- 1440px, 1920px 1024px --------------- -->
<div *ngIf="isLargeScreen" [ngStyle]="{'background-image':'url('+bgImage+')'}" class="box-bx">
  <h2>Click Here</h2>
  <span class="title-bx">{{title}}</span>
</div>
<!-- --------- 1440px, 1920px 1024px --------------- -->

<!-- --------- 1920px --------------- -->
<div *ngIf="isExtraLargeScreen" [ngStyle]="{'background-image':'url('+bgImage+')'}" class="box-bx-ex-lg">
    <h2>Click Here</h2>
    <span class="title-bx">{{title}}</span>
</div>
<!-- --------- 1920px --------------- -->

<!-- --------- 412px --------------- -->
<div *ngIf="isLowScreen" [ngStyle]="{'background-image':'url('+bgImage+')'}" class="box-bx-sm">
  <h2>Click Here</h2>
  <span class="title-bx">{{title}}</span>
</div>
<!-- --------- 412px --------------- -->
