$max-width: 100%;
$bx-width: 220px;
$bx-sm-width: 140px;
$bx-sm-height: 140px;
$bx-height: 220px;
$title-block-height: 50px;

// ********** 1440, 1920 1024 ************************************
.box-bx {
  width: $bx-width;
  height: $bx-height;
  border: 1.5px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("/assets/project/java/java.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: transform 1s ease, color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;

    h2 {
      color: white;
      transition: color 0.5s ease;
    }

    .title-bx {
      opacity: 0.5;
      transition: color 1s ease;
    }
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    color: transparent;
  }

  .title-bx {
    color: #000000;
    background-color: white;
    font-size: 24px;
    width: $max-width;
    height: $title-block-height;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 400;
    opacity: 0.75;
  }
}
// ********** 1440, 1920 1024 ************************************

//********  412px ************************************
.box-bx-sm {
  width: $bx-sm-width;
  height: $bx-sm-height;
  border: 1.5px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("/assets/bg/bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  margin-bottom: 10px;
  transition: transform 500ms ease, color 0.3s ease;

  &:hover{
    transform: scale(1.1);
    cursor: pointer;
    justify-content: flex-end;

    h2 {
      color: white;
      margin-top: 20px;
      transition: color 0.5s ease;
    }

    .title-bx {
      background-color: transparent;
      color:transparent;
      margin-bottom:0;
      justify-content: flex-end;
      transition: color 500ms ease;
    }
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    color: transparent;
  }

  .title-bx {
    color: #000000;
    background-color: white;
    font-size: 18px;
    width: $max-width;
    height: $title-block-height;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 400;
    opacity: 0.75;
  }
}
